{% extends 'accounts/main.html' %}


{% block content %}
{% include "accounts/status.html" %}
<body class="bg-gray-100 font-sans">


    <div class="w-full px-6 mt-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

            <div>
                <h2 class="text-xl font-bold mb-4 uppercase tracking-wider">Customers:</h2>
                <div class="bg-white p-4 rounded-lg shadow-sm ">
                    <button class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded mb-4 transition">
                        Create Customer
                    </button>
                    <table class="w-full text-left">
                        <thead class="border-b">
                            <tr>
                                <th class="pb-2 font-bold">Customer</th>
                                <th class="pb-2 font-bold">Phones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td class="py-2 text-gray-500 italic">{{customer.name}}</td>
                                <td class="py-2 text-gray-500 italic" colspan="2">{{customer.phone}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div>
                <h2 class="text-xl font-bold mb-4 uppercase tracking-wider">Last 5 Orders</h2>
                <div class="bg-white p-4 rounded-lg shadow-sm">
                    <button class="w-full bg-blue-600 hover:bg-blue-700 text-white py-2 rounded mb-4 transition">
                        Create Order
                    </button>
                    <table class="w-full text-sm lg:text-base">
                        <thead class="border-b">
                            <tr>
                                <th class="pb-2 font-bold">Product</th>
                                <th class="pb-2 font-bold">Date Ordered</th>
                                <th class="pb-2 font-bold">Status</th>
                                <th class="pb-2 font-bold">Update</th>
                                <th class="pb-2 font-bold">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td class="py-4 text-center text-gray-400">{{order.product}}</td>
                                <td class="py-4 text-center text-gray-400">{{order.date_created}}</td>
                                <td class="py-4 text-center text-gray-400">{{order.status}}</td>
                                <td class="py-4 text-center text-gray-400"><a href="#">Update</a></td>
                                <td class="py-4 text-center text-gray-400"><a href="#">Remove</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}