{% extends 'accounts/main.html' %}

{% block content %}

    <form class="flex flex-col items-center justify-center py-4" action="" method="post">
        {% csrf_token %}
        <p class="font-bold text-3xl">Are you sure you want to delete {{item}}</p>
        <a class="bg-yellow-500 p-3 rounded-lg text-yellow-200 font-bold mb-4" href="{% url 'home' %}">Cancel</a>
        <input class="bg-red-500 p-3 rounded-lg text-red-200 font-bold" type="submit" value="Proceed">
    </form>
{% endblock content %}