{% load static %}
<nav class="relative bg-gray-900 border-b border-white/10 mb-8">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="relative flex h-24 items-center justify-between">

            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button type="button" command="--toggle" commandfor="mobile-menu"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6">
                        <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>

            <div class="flex flex-1 items-center justify-center sm:items-center sm:justify-start">
                <div class="flex shrink-0 items-center">
                    <img src="{% static 'images/logo.png' %}" alt="kevxpingu"
                        class="h-35 w-auto object-contain block" />
                </div>

                <div class="hidden sm:ml-12 sm:block">
                    <div class="flex space-x-8 items-center">
                        <a href="{% url 'home' %}"
                            class="rounded-md bg-gray-850/50 px-4 py-2 text-base font-semibold text-white">Dashboard</a>
                        <a href="{% url 'products' %}"
                            class="rounded-md px-4 py-2 text-base font-semibold text-gray-300 hover:bg-white/5 hover:text-white transition-all">Products</a>
                    </div>
                </div>

                <div class="flex space-x-8 text-gray-200">
                    <p class="font-bold">Hello, {{request.user}}</p>
                    <a class="font-bold" href="{% url 'logout'%}">Logout</a>
                </div>
            </div>

        </div>
    </div>
</nav>