

<body>
    <!-- Main Section -->
    <section class="w-full px-6 mx-auto">
        <!-- Cards Container -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8 md:gap-16">

            <!--TOTAL ORDERS-->
            <div
                class=" overflow-hidden rounded-lg shadow-lg">
                <div class="bg-cyan-500 flex items-center justify-center p-6">
                    
                    <div class="text-white font-bold text-3xl">
                        <h2>Total Orders</h2>
                    </div>
                   
                </div>
                <div class="bg-cyan-400 p-8 text-center">
                    <h3 class="text-xl font-bold text-gray-800"></h3>
                </div>
            </div>

            <!--ORDERS DELIVERED-->
            <div class=" overflow-hidden rounded-lg shadow-lg">
                <div class="bg-teal-500 flex items-center justify-center p-6">
            
                    <div class="text-white font-bold text-3xl">
                        <h2>Orders Delivered</h2>
                    </div>
            
                </div>
                <div class="bg-teal-400 p-8 text-center">
                    <h3 class="text-xl font-bold text-gray-800"></h3>
                </div>
            </div>

            <!---ORDERS PENDING-->
            <div class=" overflow-hidden rounded-lg shadow-lg">
                <div class="bg-green-500 flex items-center justify-center p-6">
            
                    <div class="text-white font-bold text-3xl">
                        <h2>Orders Pending</h2>
                    </div>
            
                </div>
                <div class="bg-green-400 p-8 text-center">
                    <h3 class="text-xl font-bold text-gray-800"></h3>
                </div>
            </div>

        </div>
    </section>
</body>
