{% extends "accounts/main.html" %}

{% block content %}
{% include "accounts/status.html" %}

<div class="bg-white rounded shadow-sm overflow-hidden">
    <table class="w-full">
        <thead class="bg-white border-b">
            <tr>
                <th class="p-4 font-bold text-gray-800">Product</th>
                <th class="p-4 font-bold text-gray-800">Note</th>
                <th class="p-4 font-bold text-gray-800">Date Orderd</th>
                <th class="p-4 font-bold text-gray-800">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="border-b last:border-0 text-center">
                <td class="p-10">{{order.product}}</td>
                <td class="p-10">{{order.note}}</td>
                <td class="p-10">{{order.date_created}}</td>
                <td class="p-10">{{order.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}